.search-bar {
  @apply relative;
}

.search-bar:before,
.search-bar:after {
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.search-bar:before {
  top: 5px;
  border-top: 1px solid var(--brightPink);
}

.search-bar:after {
  bottom: 5px;
  border-bottom: 1px solid var(--brightPink);
}

.search-bar input[type=text] {
  margin-bottom: 1rem;
}