.content-grid {
  @apply grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "hero hero hero"
    ". main .";
}

@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: 0.25fr 3fr 0.25fr;
  }
}

@media (min-width: 1024px) {
  .content-grid {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.content-grid.move-content-up {
  grid-template-areas:
    "hero hero hero"
    "hero hero hero"
    "main main main";
  grid-template-rows: 14rem 0 auto;
}

@media (min-width: 768) {
  .content-grid.move-content-up {
    grid-template-areas:
      "hero hero hero"
      "hero main hero"
      ". main .";
    grid-template-rows: 14rem auto auto;
  }
}

.content-grid.no-title {
  grid-template-rows: 7rem auto auto;
}

.content-grid .hero {
  grid-area: hero;
}

@media (min-width: 768px) {
  .content-grid .main {
    @apply bg-white relative z-30 p-12;
    grid-area: main;
  }
}

.content-grid .full-width {
  grid-column: 1 / -1;
}