.p + .h1,
.p + .h2,
.p + .h3 {
  @apply mt-8;
}

h2.highlight,
h3.highlight {
  @apply inline;
  background: linear-gradient(
    transparent 0,
    transparent 40%,
    var(--gold) 40%,
    var(--gold) 75%,
    transparent 75%,
    transparent 100%
  );
}

a:hover h3.highlight,
a:hover h2.highlight {
  background: linear-gradient(
    transparent 0,
    transparent 40%,
    var(--serenade) 40%,
    var(--serenade) 75%,
    transparent 75%,
    transparent 100%
  );
}

.large-body-copy {
  @apply text-xl md:text-2xl;
}

li,
p {
  @apply text-2xl md:text-xl leading-relaxed mb-8;
}

p a {
  @apply text-brightPink font-bold underline;
}

blockquote  {
  @apply font-modern italic font-bold text-3xl sm:text-4xl;
}

/* unordered list within posts */
.block-content ul {
  @apply list-none pl-8 pt-0 pb-6;
}

.block-content li {
  @apply relative mb-4;
}

.block-content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--brightPink);
  display: block;
  position: absolute;
  left: -1rem;
}