ol.large-numbers {
  @apply p-0 m-0 list-none;
  counter-reset: ordered-list;

  li {
    @apply relative pl-18 py-8 min-h-9 border-b-1 border-almostWhite mb-0;
  }

  li:last-child {
    border-bottom: none;
  }

  li:before {
    color: var(--brightPink);
    content: counter(ordered-list);
    counter-increment: ordered-list;
    font-family: var(--modern);
    font-size: 6rem;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0.75rem;
  }
}